@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));


:root {

  --font-poppins: 'Poppins', sans-serif;
}




@layer base {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }
}
@layer dark {
  :root {
    --background: #000000;
    --foreground: #ffffff;
  }
}
@layer components {
  .nav-item {
    @apply text-neutral-950 dark:text-neutral-50 hover:text-neutral-500 dark:hover:text-neutral-400 transition duration-200;
  }
}



body {

  font-family: var(--font-poppins);
  
}

.joke-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 1rem;

}